<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikalpvashisth.rbsmtc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ballu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ballu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".UniversityResult" />
        <activity android:name=".Notice" />
        <activity android:name=".NewsEvents" />
        <activity android:name=".Library" />
        <activity android:name=".Fee" />
        <activity android:name=".Faculty" />
        <activity android:name=".CTSchedule" />
        <activity android:name=".CTMarks" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Attendance" />
        <activity android:name=".Assignment" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>